<a href="https://colab.research.google.com/github/Bhargavvv412/EDA-Feature-Engineering/blob/main/cricket_data_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/cricket_data_2025.csv')

In [3]:
df.head()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,NaN,Aaron Hardie,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats
1,2024.0,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,...,16,0,0,0,0,0,0,0,0,0
2,2023.0,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,...,9,0,0,0,0,0,0,0,0,0
3,2022.0,Abdul Samad,2,0,4,4,2.0,7,57.14,0,...,2,6,8,0,0/8,0,8.00,0,0,0
4,2021.0,Abdul Samad,11,1,111,28,12.33,87,127.58,0,...,11,6,9,1,1/9,9.00,9.00,6.00,0,0

In [4]:
df.tail()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
1003,2016.0,Yuzvendra Chahal,13,0,0,0,0.00,0.0,0.00,0,...,13,295,401,21,4/25,19.09,8.15,14.04,1,0
1004,2015.0,Yuzvendra Chahal,15,2,1,1*,0.00,1.0,100.00,0,...,15,281,415,23,3/40,18.04,8.86,12.21,0,0
1005,2014.0,Yuzvendra Chahal,14,2,1,1*,0.00,1.0,100.00,0,...,14,330,386,12,2/17,32.16,7.01,27.50,0,0
1006,2013.0,Yuzvendra Chahal,1,0,0,0,0.00,0.0,0.00,0,...,1,24,34,0,0/34,0,8.5,0,0,0
1007,NaN,Zeeshan Ansari,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,...,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats,No stats

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 957 non-null    float64
 1   Player_Name          1008 non-null   object
 2   Matches_Batted       1008 non-null   object
 3   Not_Outs             1008 non-null   object
 4   Runs_Scored          1008 non-null   object
 5   Highest_Score        1008 non-null   object
 6   Batting_Average      1008 non-null   object
 7   Balls_Faced          1008 non-null   object
 8   Batting_Strike_Rate  1008 non-null   object
 9   Centuries            1008 non-null   object
 10  Half_Centuries       1008 non-null   object
 11  Fours                1008 non-null   object
 12  Sixes                1008 non-null   object
 13  Catches_Taken        1008 non-null   object
 14  Stumpings            1008 non-null   object
 15  Matches_Bowled       1008 non-null   object
 16  Balls_Bowled         1008 non-null   object
 17  Runs_Conceded        1008 non-null   object
 18  Wickets_Taken        1008 non-null   object
 19  Best_Bowling_Match   1008 non-null   object
 20  Bowling_Average      1008 non-null   object
 21  Economy_Rate         1008 non-null   object
 22  Bowling_Strike_Rate  1008 non-null   object
 23  Four_Wicket_Hauls    1008 non-null   object
 24  Five_Wicket_Hauls    1008 non-null   object
dtypes: float64(1), object(24)
memory usage: 197.0+ KB

In [6]:
df.dropna(inplace=True)

In [7]:
df

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
1,2024.0,Abdul Samad,16,2,182,37*,18.2,108,168.52,0,...,16,0,0,0,0,0,0,0,0,0
2,2023.0,Abdul Samad,9,4,169,37*,42.25,128,132.03,0,...,9,0,0,0,0,0,0,0,0,0
3,2022.0,Abdul Samad,2,0,4,4,2.0,7,57.14,0,...,2,6,8,0,0/8,0,8.00,0,0,0
4,2021.0,Abdul Samad,11,1,111,28,12.33,87,127.58,0,...,11,6,9,1,1/9,9.00,9.00,6.00,0,0
5,2020.0,Abdul Samad,12,3,111,33,22.2,65,170.76,0,...,12,42,96,1,1/41,96.00,13.71,42.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,2017.0,Yuzvendra Chahal,13,3,13,4*,4.33,26.0,50.00,0,...,13,261,333,14,3/16,23.78,7.65,18.64,0,0
1003,2016.0,Yuzvendra Chahal,13,0,0,0,0.00,0.0,0.00,0,...,13,295,401,21,4/25,19.09,8.15,14.04,1,0
1004,2015.0,Yuzvendra Chahal,15,2,1,1*,0.00,1.0,100.00,0,...,15,281,415,23,3/40,18.04,8.86,12.21,0,0
1005,2014.0,Yuzvendra Chahal,14,2,1,1*,0.00,1.0,100.00,0,...,14,330,386,12,2/17,32.16,7.01,27.50,0,0
1006,2013.0,Yuzvendra Chahal,1,0,0,0,0.00,0.0,0.00,0,...,1,24,34,0,0/34,0,8.5,0,0,0

In [8]:
df.sort_values(by='Year',inplace=True)

In [9]:
df['Player_Name'].unique()

array(['Virat Kohli', 'Ajinkya Rahane', 'Manish Pandey', 'MS Dhoni',
       'Ishant Sharma', 'Rohit Sharma', 'Ravindra Jadeja',
       'Ravichandran Ashwin', 'Karn Sharma', 'Jaydev Unadkat',
       'Mitchell Marsh', 'Bhuvneshwar Kumar', 'Sunil Narine',
       'David Miller', 'Suryakumar Yadav', 'Harshal Patel',
       'Glenn Maxwell', 'Faf du Plessis', 'Andre Russell', 'Karun Nair',
       'Mohit Sharma', 'KL Rahul', 'Quinton de Kock', 'Yuzvendra Chahal',
       'Mohammad Shami', 'Sachin Baby', 'Sandeep Sharma', 'Sanju Samson',
       'Jasprit Bumrah', 'Shreyas Gopal', 'Pat Cummins', 'Vijay Shankar',
       'Rahul Tewatia', 'Mitchell Starc', 'Axar Patel', 'Jayant Yadav',
       'Trent Boult', 'Deepak Hooda', 'Shreyas Iyer', 'Hardik Pandya',
       'Marcus Stoinis', 'Nitish Rana', 'Travis Head', 'Deepak Chahar',
       'Krunal Pandya', 'Jos Buttler', 'Kuldeep Yadav', 'Rishabh Pant',
       'Ishan Kishan', 'Adam Zampa', 'Washington Sundar',
       'Mohammed Siraj', 'T Natarajan', 'Kagiso Rabada',
       'Lockie Ferguson', 'Rashid Khan', 'Vishnu Vinod', 'Avesh Khan',
       'Rahul Tripathi', 'Rahul Chahar', 'Mujeeb Ur Rahman',
       'Mahipal Lomror', 'Heinrich Klaasen', 'Prasidh Krishna',
       'Lungi Ngidi', 'Jofra Archer', 'Rinku Singh', 'Abhishek Sharma',
       'Mayank Markande', 'Khaleel Ahmed', 'Kulwant Khejroliya',
       'Shubman Gill', 'Moeen Ali', 'Riyan Parag', 'Sam Curran',
       'Harpreet Brar', 'Varun Chakaravarthy', 'Rasikh Dar',
       'Shimron Hetmyer', 'Sherfane Rutherford', 'Shivam Dube',
       'Anukul Roy', 'Arshdeep Singh', 'Nicholas Pooran',
       'Liam Livingstone', 'Prabhsimran Singh', 'Mitchell Santner',
       'Ravi Bishnoi', 'Kamlesh Nagarkoti', 'Pravin Dubey',
       'Josh Hazlewood', 'Devdutt Padikkal', 'Shahbaz Ahamad',
       'Tushar Deshpande', 'Ruturaj Gaikwad', 'Anrich Nortje',
       'Yashasvi Jaiswal', 'Abdul Samad', 'Venkatesh Iyer', 'Akash Singh',
       'Umran Malik', 'Marco Jansen', 'Anuj Rawat', 'Tim David',
       'Nathan Ellis', 'Shahrukh Khan', 'Glenn Phillips', 'Rajat Patidar',
       'Wanindu Hasaranga', 'Aiden Markram', 'Matheesha Pathirana',
       'Simarjeet Singh', 'Mohsin Khan', 'Mukesh Choudhary',
       'N. Tilak Varma', 'Tristan Stubbs', 'Abhinav Manohar',
       'Vaibhav Arora', 'Akash Deep', 'Sai Kishore', 'Kuldeep Sen',
       'Shashank Singh', 'Kumar Kartikeya Singh', 'Dushmantha Chameera',
       'Devon Conway', 'B. Sai Sudharsan', 'Ayush Badoni',
       'Maheesh Theekshana', 'Darshan Nalkande', 'Ramandeep Singh',
       'Romario Shepherd', 'Rovman Powell', 'Raj Angad Bawa',
       'Fazalhaq Farooqi', 'Jitesh Sharma', 'Harshit Rana', 'Yash Dayal',
       'Reece Topley', 'Arjun Tendulkar', 'Mohd. Arshad Khan',
       'Rajvardhan Hangargekar', 'Atharva Taide', 'Suyash Sharma',
       'Swapnil Singh', 'Mukesh Kumar', 'Rahmanullah Gurbaz',
       'Nehal Wadhera', 'Nitish Kumar Reddy', 'Dhruv Jurel', 'Noor Ahmad',
       'Phil Salt', 'Vyshak Vijay Kumar', 'Abishek Porel', 'Yash Thakur',
       'Yudhvir Singh', 'Akash Madhwal', 'Mayank Yadav', 'M Siddharth',
       'Nuwan Thushara', 'Shubham Dubey', 'Kwena Maphaka',
       'Kumar Kushagra', 'Donovan Ferreira', 'Shamar Joseph',
       'Spencer Johnson', 'Azmatullah Omarzai', 'Rachin Ravindra',
       'Sameer Rizvi', 'Gerald Coetzee', 'Arshin Kulkarni',
       'Ashutosh Sharma', 'Manav Suthar', 'Naman Dhir', 'Will Jacks',
       'Anshul Kamboj', 'Angkrish Raghuvanshi', 'Jake Fraser-McGurk'],
      dtype=object)

In [10]:
df['Matches_Batted'].unique()

array(['13', '2', '3', '16', '13.0', '14', '5', '8', '11.0', '1', '7.0',
       '12', '7', '4', '10', '12.0', '19', '15', '6', '11', '17', '18',
       '0.0', '9', '16.0', '14.0', '5.0', '6.0', '9.0', '0', '1.0', '2.0',
       '8.0', '4.0', '3.0'], dtype=object)

In [11]:
df['Matches_Batted']=df['Matches_Batted'].astype(float)

In [12]:
df['Not_Outs'].unique()

array(['1', '0', '4', '5.0', '2', '3', '1.0', '5', '6', '0.0', '10',
       '3.0', '2.0', '9', '7', '8'], dtype=object)

In [13]:
df['Runs_Scored'].unique()

array(['165', '4', '3', '414', '11.0', '404', '135', '168', '8', '295',
       '144', '362', '16.0', '246', '332', '0', '6.0', '287', '307',
       '249', '30', '28', '392', '2', '1', '372', '120', '557', '4.0',
       '283', '50', '191', '9', '18', '98', '40', '358', '560', '433',
       '15', '6', '398', '47', '364', '143', '52', '85', '461', '21',
       '0.0', '634', '418', '20', '136', '11', '5', '538', '141', '36',
       '488', '35', '201', '206', '166', '10', '164', '371', '1.0', '330',
       '16', '446', '303', '13', '390', '339', '552', '62', '42', '45',
       '146', '359', '153', '401', '104', '326', '225', '157', '505',
       '122', '132', '151', '357', '28.0', '439', '142', '181', '112',
       '540', '204', '145', '19', '482', '380', '17', '188', '32.0',
       '973', '248', '284', '54', '7', '445', '182', '161', '41', '237',
       '111', '255', '397', '43', '179', '198', '291', '44', '489', '119',
       '480', '333', '250', '101', '277', '396', '51.0', '8.0', '366',
       '310', '386', '224', '272', '49', '77', '83', '290', '14', '78',
       '158', '338', '55', '243', '105', '227', '391', '281', '5.0',
       '382', '308', '162', '512', '411', '548', '659', '57', '169', '89',
       '59', '304', '87', '102', '74', '455', '370', '12', '441', '275',
       '29', '10.0', '25', '99', '212', '260', '286', '684', '228', '63',
       '530', '226', '80', '203', '301', '60', '65', '316', '211', '244',
       '510', '402', '405', '160', '106', '95', '34', '344', '424', '593',
       '311', '463', '416', '213', '67', '90', '73', '64', '342', '37',
       '70', '529', '296', '110', '32', '26', '183', '393', '220', '464',
       '466', '113', '71', '109', '117', '503', '440', '121', '230', '22',
       '352', '328', '670', '56', '519', '232', '200', '353', '185',
       '129', '473', '375', '449', '86', '108', '186', '516', '343',
       '425', '97', '58', '383', '317', '292', '94', '478', '124', '175',
       '297', '513', '484', '242', '114', '93', '381', '635', '155',
       '633', '419', '241', '626', '254', '127', '31', '361', '23', '341',
       '88', '156', '335', '251', '508', '48', '33', '69', '437', '458',
       '451', '252', '219', '376', '306', '483', '289', '314', '24',
       '481', '268', '91', '487', '368', '340', '616', '468', '217',
       '413', '116', '234', '863', '174', '426', '258', '38', '133',
       '190', '274', '474', '39', '639', '408', '448', '454', '23.0',
       '130', '346', '590', '273', '231', '605', '400', '276', '238',
       '152', '730', '890', '259', '300', '84', '279', '218', '261',
       '672', '625', '309', '128', '61', '222', '187', '435', '327',
       '215', '334', '125', '210', '351', '438', '195', '531', '354',
       '527', '235', '499', '51', '270', '345', '567', '583', '103',
       '378', '189', '417', '75', '216', '395', '140', '573', '320',
       '479', '388', '741', '3.0', '163', '520', '267'], dtype=object)

In [14]:
df['Highest_Score'].unique()

array(['38', '4', '3', '65', '4*', '76*', '36*', '114*', '8', '42', '62*',
       '52', '9', '50', '58*', '0', '6*', '66*', '58', '42*', '11*', '15',
       '73', '70*', '2', '1', '87', '59', '71', '1*', '47', '37', '48',
       '9*', '34*', '51*', '103*', '109*', '10', '3*', '31', '73*', '80*',
       '24*', '39*', '67*', '13', '99', '101*', '12', '66', '7', '5',
       '79*', '23', '68*', '38*', '63', '46', '11', '6', '34', '57*',
       '16', '54*', '59*', '72', '29', '74', '2*', '95', '17*', '14',
       '94', '32', '40', '53', '46*', '0*', '82*', '69', '24', '54',
       '89*', '21*', '83', '44*', '61', '40*', '61*', '91*', '76', '43',
       '98*', '55', '113', '64*', '70', '108', '60', '86', '26*', '83*',
       '41', '21', '19', '68', '5*', '85*', '27', '33', '67', '35*',
       '63*', '81*', '75*', '97', '16*', '102', '77', '30*', '19*', '28',
       '96', '44', '93', '64', '15*', '10*', '93*', '95*', '27*', '26',
       '32*', '39', '45', '65*', '7*', '92*', '62', '29*', '128*', '41*',
       '75', '35', '88*', '91', '31*', '55*', '20*', '71*', '100*', '89',
       '84*', '28*', '20', '102*', '30', '78*', '81', '22', '105*', '100',
       '90*', '8*', '53*', '132*', '14*', '47*', '23*', '85', '87*', '56',
       '25', '52*', '60*', '80', '0.0', '72*', '12*', '82', '69*', '57',
       '18*', '78', '119', '84', '124', '74*', '25*', '50*', '13*',
       '140*', '17', '56*', '94*', '112*', '43*', '116', '18', '37*',
       '104', '92', '49', '45*', '129', '103', '49*', '104*', '109',
       '108*', '124*', '113*', '107*'], dtype=object)

In [15]:
df['Highest_Score']=df['Highest_Score'].str.replace('*','').astype(float)

In [16]:
for column in df.columns:
    unique_values = df[column].unique()  # Get unique values for the column

    # Convert all unique values to strings and join them with commas
    unique_values_str = ', '.join(map(str, unique_values))

    # Print the column name and its unique values in a single line
    print(f"Unique values in column '{column}': {unique_values_str}")
    print("-" * 50)  # Separator for readability

Unique values in column 'Year': 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0, 2022.0, 2023.0, 2024.0
--------------------------------------------------
Unique values in column 'Player_Name': Virat Kohli, Ajinkya Rahane, Manish Pandey, MS Dhoni, Ishant Sharma, Rohit Sharma, Ravindra Jadeja, Ravichandran Ashwin, Karn Sharma, Jaydev Unadkat, Mitchell Marsh, Bhuvneshwar Kumar, Sunil Narine, David Miller, Suryakumar Yadav, Harshal Patel, Glenn Maxwell, Faf du Plessis, Andre Russell, Karun Nair, Mohit Sharma, KL Rahul, Quinton de Kock, Yuzvendra Chahal, Mohammad Shami, Sachin Baby, Sandeep Sharma, Sanju Samson, Jasprit Bumrah, Shreyas Gopal, Pat Cummins, Vijay Shankar, Rahul Tewatia, Mitchell Starc, Axar Patel, Jayant Yadav, Trent Boult, Deepak Hooda, Shreyas Iyer, Hardik Pandya, Marcus Stoinis, Nitish Rana, Travis Head, Deepak Chahar, Krunal Pandya, Jos Buttler, Kuldeep Yadav, Rishabh Pant, Ishan Kishan, Adam Zampa, Washington Sundar, Mohammed Siraj, T Natarajan, Kagiso Rabada, Lockie Ferguson, Rashid Khan, Vishnu Vinod, Avesh Khan, Rahul Tripathi, Rahul Chahar, Mujeeb Ur Rahman, Mahipal Lomror, Heinrich Klaasen, Prasidh Krishna, Lungi Ngidi, Jofra Archer, Rinku Singh, Abhishek Sharma, Mayank Markande, Khaleel Ahmed, Kulwant Khejroliya, Shubman Gill, Moeen Ali, Riyan Parag, Sam Curran, Harpreet Brar, Varun Chakaravarthy, Rasikh Dar, Shimron Hetmyer, Sherfane Rutherford, Shivam Dube, Anukul Roy, Arshdeep Singh, Nicholas Pooran, Liam Livingstone, Prabhsimran Singh, Mitchell Santner, Ravi Bishnoi, Kamlesh Nagarkoti, Pravin Dubey, Josh Hazlewood, Devdutt Padikkal, Shahbaz Ahamad, Tushar Deshpande, Ruturaj Gaikwad, Anrich Nortje, Yashasvi Jaiswal, Abdul Samad, Venkatesh Iyer, Akash Singh, Umran Malik, Marco Jansen, Anuj Rawat, Tim David, Nathan Ellis, Shahrukh Khan, Glenn Phillips, Rajat Patidar, Wanindu Hasaranga, Aiden Markram, Matheesha Pathirana, Simarjeet Singh, Mohsin Khan, Mukesh Choudhary, N. Tilak Varma, Tristan Stubbs, Abhinav Manohar, Vaibhav Arora, Akash Deep, Sai Kishore, Kuldeep Sen, Shashank Singh, Kumar Kartikeya Singh, Dushmantha Chameera, Devon Conway, B. Sai Sudharsan, Ayush Badoni, Maheesh Theekshana, Darshan Nalkande, Ramandeep Singh, Romario Shepherd, Rovman Powell, Raj Angad Bawa, Fazalhaq Farooqi, Jitesh Sharma, Harshit Rana, Yash Dayal, Reece Topley, Arjun Tendulkar, Mohd. Arshad Khan, Rajvardhan Hangargekar, Atharva Taide, Suyash Sharma, Swapnil Singh, Mukesh Kumar, Rahmanullah Gurbaz, Nehal Wadhera, Nitish Kumar Reddy, Dhruv Jurel, Noor Ahmad, Phil Salt, Vyshak Vijay Kumar, Abishek Porel, Yash Thakur, Yudhvir Singh, Akash Madhwal, Mayank Yadav, M Siddharth, Nuwan Thushara, Shubham Dubey, Kwena Maphaka, Kumar Kushagra, Donovan Ferreira, Shamar Joseph, Spencer Johnson, Azmatullah Omarzai, Rachin Ravindra, Sameer Rizvi, Gerald Coetzee, Arshin Kulkarni, Ashutosh Sharma, Manav Suthar, Naman Dhir, Will Jacks, Anshul Kamboj, Angkrish Raghuvanshi, Jake Fraser-McGurk
--------------------------------------------------
Unique values in column 'Matches_Batted': 13.0, 2.0, 3.0, 16.0, 14.0, 5.0, 8.0, 11.0, 1.0, 7.0, 12.0, 4.0, 10.0, 19.0, 15.0, 6.0, 17.0, 18.0, 0.0, 9.0
--------------------------------------------------
Unique values in column 'Not_Outs': 1, 0, 4, 5.0, 2, 3, 1.0, 5, 6, 0.0, 10, 3.0, 2.0, 9, 7, 8
--------------------------------------------------
Unique values in column 'Runs_Scored': 165, 4, 3, 414, 11.0, 404, 135, 168, 8, 295, 144, 362, 16.0, 246, 332, 0, 6.0, 287, 307, 249, 30, 28, 392, 2, 1, 372, 120, 557, 4.0, 283, 50, 191, 9, 18, 98, 40, 358, 560, 433, 15, 6, 398, 47, 364, 143, 52, 85, 461, 21, 0.0, 634, 418, 20, 136, 11, 5, 538, 141, 36, 488, 35, 201, 206, 166, 10, 164, 371, 1.0, 330, 16, 446, 303, 13, 390, 339, 552, 62, 42, 45, 146, 359, 153, 401, 104, 326, 225, 157, 505, 122, 132, 151, 357, 28.0, 439, 142, 181, 112, 540, 204, 145, 19, 482, 380, 17, 188, 32.0, 973, 248, 284, 54, 7, 445, 182, 161, 41, 237, 111, 255, 397, 43, 179, 198, 291, 44, 489, 119, 480, 333, 250, 101, 277, 396, 51.0, 8.0, 366, 310, 386, 224, 272, 49, 77, 83, 290, 14, 78, 158, 338, 55, 243, 105, 227, 391, 281, 5.0, 382, 308, 162, 512, 411, 548, 659, 57, 169, 89, 59, 304, 87, 102, 74, 455, 370, 12, 441, 275, 29, 10.0, 25, 99, 212, 260, 286, 684, 228, 63, 530, 226, 80, 203, 301, 60, 65, 316, 211, 244, 510, 402, 405, 160, 106, 95, 34, 344, 424, 593, 311, 463, 416, 213, 67, 90, 73, 64, 342, 37, 70, 529, 296, 110, 32, 26, 183, 393, 220, 464, 466, 113, 71, 109, 117, 503, 440, 121, 230, 22, 352, 328, 670, 56, 519, 232, 200, 353, 185, 129, 473, 375, 449, 86, 108, 186, 516, 343, 425, 97, 58, 383, 317, 292, 94, 478, 124, 175, 297, 513, 484, 242, 114, 93, 381, 635, 155, 633, 419, 241, 626, 254, 127, 31, 361, 23, 341, 88, 156, 335, 251, 508, 48, 33, 69, 437, 458, 451, 252, 219, 376, 306, 483, 289, 314, 24, 481, 268, 91, 487, 368, 340, 616, 468, 217, 413, 116, 234, 863, 174, 426, 258, 38, 133, 190, 274, 474, 39, 639, 408, 448, 454, 23.0, 130, 346, 590, 273, 231, 605, 400, 276, 238, 152, 730, 890, 259, 300, 84, 279, 218, 261, 672, 625, 309, 128, 61, 222, 187, 435, 327, 215, 334, 125, 210, 351, 438, 195, 531, 354, 527, 235, 499, 51, 270, 345, 567, 583, 103, 378, 189, 417, 75, 216, 395, 140, 573, 320, 479, 388, 741, 3.0, 163, 520, 267
--------------------------------------------------
Unique values in column 'Highest_Score': 38.0, 4.0, 3.0, 65.0, 76.0, 36.0, 114.0, 8.0, 42.0, 62.0, 52.0, 9.0, 50.0, 58.0, 0.0, 6.0, 66.0, 11.0, 15.0, 73.0, 70.0, 2.0, 1.0, 87.0, 59.0, 71.0, 47.0, 37.0, 48.0, 34.0, 51.0, 103.0, 109.0, 10.0, 31.0, 80.0, 24.0, 39.0, 67.0, 13.0, 99.0, 101.0, 12.0, 7.0, 5.0, 79.0, 23.0, 68.0, 63.0, 46.0, 57.0, 16.0, 54.0, 72.0, 29.0, 74.0, 95.0, 17.0, 14.0, 94.0, 32.0, 40.0, 53.0, 82.0, 69.0, 89.0, 21.0, 83.0, 44.0, 61.0, 91.0, 43.0, 98.0, 55.0, 113.0, 64.0, 108.0, 60.0, 86.0, 26.0, 41.0, 19.0, 85.0, 27.0, 33.0, 35.0, 81.0, 75.0, 97.0, 102.0, 77.0, 30.0, 28.0, 96.0, 93.0, 45.0, 92.0, 128.0, 88.0, 20.0, 100.0, 84.0, 78.0, 22.0, 105.0, 90.0, 132.0, 56.0, 25.0, 18.0, 119.0, 124.0, 140.0, 112.0, 116.0, 104.0, 49.0, 129.0, 107.0
--------------------------------------------------
Unique values in column 'Batting_Average': 15.0, 2.0, 1.5, 41.4, 11.00, 36.72, 19.28, 84.0, 8.0, 26.81, 24.0, 27.84, 8.00, 22.36, 41.5, 0.0, 6.00, 31.88, 27.9, 20.75, 7.5, 14.0, 28.85, 43.55, 1.0, 33.81, 20.0, 27.33, 46.41, 0.00, 31.44, 25.0, 15.91, 9.0, 6.0, 32.66, 13.33, 29.83, 40.0, 30.92, 33.16, 23.5, 28.0, 20.42, 7.42, 4.5, 21.25, 41.9, 7.0, 0, 45.28, 59.71, 10.0, 22.66, 5.5, 5.0, 38.42, 20.14, 18.0, 3.0, 34.85, 8.75, 25.12, 25.75, 32.8, 74.2, 33.0, 16.0, 44.6, 27.54, 6.5, 30.0, 28.25, 14.16, 26.07, 34.5, 10.33, 10.5, 29.2, 27.61, 21.85, 30.84, 17.33, 36.22, 20.45, 31.0, 17.44, 45.9, 40.66, 18.85, 16.77, 32.45, 9.33, 33.76, 28.4, 16.45, 22.88, 22.4, 49.09, 20.4, 9.00, 13.18, 3.8, 34.42, 29.23, 11.0, 17.0, 26.85, 81.08, 36.5, 40.57, 34.66, 27.0, 37.08, 26.0, 21.22, 10.28, 3.00, 16.1, 20.5, 39.5, 35.7, 15.85, 23.18, 2.00, 44.11, 7.16, 19.88, 24.75, 34.33, 26.45, 6.28, 44.45, 8.4, 23.8, 43.63, 23.78, 35.71, 50.5, 27.7, 49.5, 8.50, 30.2, 4.00, 26.14, 17.00, 27.57, 17.23, 27.2, 8.16, 30.27, 15.4, 27.66, 26.36, 14.00, 33.8, 4.0, 18.33, 5.66, 4.33, 6.33, 34.71, 17.5, 28.37, 27.92, 21.61, 19.0, 25.46, 30.8, 32.4, 36.57, 37.36, 54.8, 54.91, 16.66, 14.08, 17.8, 11.8, 23.38, 12.25, 21.75, 12.75, 37.0, 75.83, 28.46, 12.0, 10.00, 31.5, 22.91, 7.25, 12.5, 53.0, 28.88, 23.83, 52.61, 22.8, 63.0, 10.50, 48.18, 22.31, 25.11, 33.83, 25.08, 19.25, 25.81, 60.0, 21.66, 28.72, 52.75, 20.33, 56.66, 44.66, 28.92, 32.0, 35.33, 16.83, 23.75, 36.0, 6.8, 34.4, 32.61, 53.9, 38.87, 30.86, 4.66, 83.2, 3.50, 26.62, 33.5, 14.6, 10.66, 15.75, 34.2, 18.5, 37.53, 43.0, 23.33, 35.26, 32.88, 17.87, 32.00, 16.63, 0.5, 32.75, 27.5, 33.14, 42.36, 14.12, 14.2, 42.5, 18.16, 13.0, 14.62, 35.92, 33.84, 13.44, 23.0, 7.00, 7.33, 25.14, 20.85, 55.83, 34.6, 12.33, 46.4, 18.83, 35.3, 23.12, 18.42, 9.25, 101.0, 31.53, 28.84, 21.00, 19.66, 5.00, 40.81, 12.28, 15.42, 23.25, 57.33, 31.18, 51.0, 32.69, 24.25, 35.12, 22.2, 1.00, 25.5, 41.11, 22.25, 11.6, 29.46, 22.64, 48.66, 31.33, 18.00, 7.72, 34.0, 28.11, 24.8, 35.0, 9.5, 8.42, 31.61, 29.7, 18.66, 2.8, 42.75, 40.33, 34.57, 7.75, 16.28, 28.75, 29.3, 45.35, 15.5, 14.3, 45.21, 24.9, 16.33, 14.66, 34.91, 26.77, 62.6, 36.28, 75.66, 11.62, 28.35, 14.75, 10.37, 17.75, 14.11, 16.13, 16.55, 27.77, 37.2, 36.09, 22.00, 43.29, 45.5, 4.75, 22.73, 14.67, 24.4, 19.5, 2.50, 37.22, 31.38, 36.29, 48.0, 12.83, 16.5, 17.25, 36.42, 10.75, 28.63, 16.71, 32.21, 42.0, 27.38, 22.12, 17.2, 36.25, 20.13, 38.25, 30.85, 8.88, 28.9, 44.86, 68.71, 55.5, 22.5, 8.6, 19.14, 22.75, 44.27, 29.0, 26.29, 30.91, 51.33, 9.6, 27.29, 32.15, 31.2, 37.55, 27.36, 19.33, 29.25, 16.64, 57.53, 34.8, 19.67, 30.43, 47.63, 25.8, 14.43, 5.43, 42.25, 32.6, 20.55, 34.25, 59.25, 30.33, 28.86, 37.63, 53.25, 19.00, 49.78, 6.67, 11.50, 13.00, 0.50, 17.78, 11.17, 32.5, 31.45, 8.67, 26.57, 2.33, 42.14, 7.8, 18.8, 42.88, 25.67, 43.21, 28.3, 33.33, 27.6, 20.64, 26.78, 51.71, 31.77, 30.17, 21.71, 56.15, 59.33, 32.38, 16.88, 37.5, 38.0, 7.64, 35.75, 34.88, 27.25, 25.57, 26.1, 51.69, 22.29, 8.25, 22.55, 48.08, 23.77, 14.22, 17.71, 32.27, 25.6, 4.67, 15.25, 31.71, 31.07, 24.44, 32.7, 18.14, 23.89, 23.86, 53.67, 39.55, 22.67, 2.5, 18.13, 18.17, 15.63, 12.00, 38.73, 39.0, 34.86, 24.38, 48.27, 22.6, 44.25, 21.0, 33.67, 7.67, 47.91, 29.38, 62.38, 15.67, 5.78, 3.5, 40.5, 30.13, 41.6, 26.86, 33.25, 17.17, 28.5, 54.0, 18.50, 30.5, 32.08, 31.25, 30.38, 14.33, 1.33, 52.09, 40.55, 22.86, 39.92, 32.33, 61.75, 32.86, 16.6, 46.25, 24.5, 23.29, 18.67, 36.67, 37.14, 39.89, 44.5, 18.2, 20.17
--------------------------------------------------
Unique values in column 'Balls_Faced': 157, 17, 9, 310, 11.0, 273, 103, 118, 15, 266, 123, 315, 13.0, 219, 261, 0, 17.0, 210, 212, 226, 40, 30, 302, 247, 6, 1, 297, 98, 227, 460, 5.0, 228, 49, 151, 7, 75, 4, 278, 433, 342, 11, 304, 26, 326, 112, 71, 12, 86, 283, 19, 0.0, 457, 254, 16, 137, 14, 10, 409, 106, 2, 27, 458, 135, 178, 164, 10.0, 117, 250, 3.0, 232, 13, 299, 235, 291, 84, 3, 294, 60, 29, 45, 110, 130, 8, 340, 1.0, 85, 169, 184, 305, 113, 386, 77, 126, 32, 95, 18.0, 145, 174, 62, 413, 163, 14.0, 333, 114, 26.0, 640, 108, 183, 327, 143, 121, 131, 38, 124, 16.0, 271, 43, 152, 162, 9.0, 259, 63, 368, 41, 79, 379, 160, 206, 308, 50.0, 6.0, 12.0, 221, 179, 177, 264, 53, 80, 5, 52, 243, 64, 24, 22, 88, 267, 7.0, 323, 252, 129, 21, 384, 353, 416, 45.0, 47, 120, 74, 31, 81, 29.0, 313, 320, 4.0, 76, 148, 195, 215, 394, 33, 24.0, 381, 188, 167, 69, 139, 46, 246, 171, 156, 193, 249, 100, 55, 321, 23, 324, 438, 205, 28, 309, 73, 54, 46.0, 107, 2.0, 230, 34, 300, 263, 48, 398, 238, 150, 285, 133, 328, 56, 92, 358, 373, 181, 31.0, 331, 518, 421, 172, 208, 125, 105, 39.0, 236, 15.0, 319, 141, 354, 301, 237, 96, 260, 44, 65, 27.0, 87, 288, 339, 72, 314, 402, 256, 356, 144, 466, 147, 168, 42, 180, 451, 166, 83, 58, 119, 8.0, 251, 303, 35, 192, 189, 341, 68, 50, 240, 28.0, 312, 330, 173, 306, 57, 365, 298, 185, 204, 337, 218, 39, 223, 371, 25, 224, 455, 348, 367, 132, 579, 37, 274, 194, 128, 282, 242, 317, 277, 272, 253, 318, 66, 19.0, 146, 51, 400, 165, 213, 209, 334, 203, 170, 207, 293, 475, 564, 97, 197, 90, 20, 102, 200, 481, 94, 382, 198, 91, 142, 279, 78, 239, 186, 244, 289, 270, 346, 212.0, 280, 138, 296, 115, 287, 479, 233, 255, 187, 196
--------------------------------------------------
Unique values in column 'Batting_Strike_Rate': 105.09, 23.52, 33.33, 133.54, 100.0, 147.98, 131.06, 142.37, 53.33, 110.9, 117.07, 114.92, 123.07, 112.32, 127.2, 0.0, 35.29, 136.66, 144.81, 110.17, 75.0, 93.33, 133.77, 158.7, 125.25, 122.44, 108.37, 121.08, 80.0, 124.12, 102.04, 126.49, 128.57, 120.0, 130.66, 128.77, 129.33, 126.6, 54.54, 130.92, 180.76, 111.65, 127.67, 73.23, 98.83, 162.89, 110.52, 138.73, 164.56, 125.0, 40.0, 0.00, 99.27, 78.57, 50.0, 131.54, 132.07, 133.33, 42.85, 106.55, 71.42, 148.88, 115.73, 101.21, 110.00, 25.0, 16.66, 140.17, 148.4, 142.24, 149.16, 128.93, 185.71, 129.13, 116.49, 101.19, 124.17, 40.00, 187.75, 103.33, 144.82, 132.72, 122.1, 117.69, 117.94, 100.00, 122.35, 192.89, 122.28, 121.96, 138.93, 130.82, 158.44, 104.76, 162.5, 158.94, 134.21, 155.55, 128.36, 112.69, 124.82, 118.39, 180.64, 130.75, 125.15, 64.28, 129.46, 158.33, 144.74, 170.0, 164.91, 152.03, 135.18, 135.51, 135.23, 138.66, 135.0, 53.84, 136.08, 127.27, 107.3, 119.0, 60.00, 122.9, 107.89, 191.12, 120.2, 144.15, 138.58, 12.50, 146.49, 159.25, 69.76, 144.35, 130.26, 127.16, 88.88, 112.35, 72.72, 69.84, 132.88, 102.43, 150.63, 126.64, 63.63, 121.97, 156.25, 134.66, 134.46, 102.0, 116.66, 139.81, 66.66, 165.61, 114.28, 173.18, 141.39, 172.3, 153.67, 119.51, 126.13, 145.28, 103.75, 116.0, 62.5, 233.33, 150.0, 139.82, 139.09, 85.93, 122.22, 70.83, 50.00, 73.07, 90.9, 135.75, 119.31, 140.12, 146.44, 124.33, 172.72, 118.26, 125.58, 142.85, 95.23, 132.58, 155.24, 158.41, 111.11, 121.27, 140.83, 120.27, 190.32, 20.0, 131.03, 128.94, 107.4, 172.41, 143.66, 115.62, 150.66, 118.21, 124.07, 137.81, 149.45, 93.54, 76.92, 113.63, 143.24, 133.02, 173.6, 145.22, 190.9, 87.50, 139.1, 189.89, 81.25, 135.32, 115.94, 0, 146.04, 136.19, 167.39, 116.27, 115.44, 181.81, 171.05, 184.79, 135.25, 126.42, 204.81, 191.42, 126.98, 120.45, 101.0, 90.0, 166.66, 333.33, 123.36, 147.82, 146.38, 130.86, 135.38, 151.7, 119.94, 134.62, 77.77, 175.0, 129.87, 167.5, 123.28, 101.58, 136.95, 121.21, 157.0, 266.66, 28.57, 148.69, 108.82, 162.66, 200.00, 130.79, 145.83, 132.91, 124.36, 119.49, 83.33, 63.15, 166.27, 94.11, 139.13, 118.18, 122.0, 109.09, 137.89, 37.50, 120.00, 165.41, 141.46, 121.35, 121.42, 105.6, 116.84, 126.78, 139.34, 118.47, 61.9, 137.64, 140.5, 117.96, 142.35, 127.07, 58.33, 70.96, 128.07, 148.27, 145.01, 144.49, 129.34, 123.27, 171.85, 179.36, 169.71, 69.23, 148.0, 122.85, 94.87, 142.25, 124.8, 158.89, 175.00, 109.25, 140.75, 111.68, 101.88, 131.91, 80.00, 145.76, 113.95, 120.71, 127.62, 148.52, 144.44, 101.04, 178.98, 127.69, 87.5, 170.76, 37.03, 127.58, 137.3, 128.47, 119.46, 152.5, 76.47, 123.61, 111.53, 86.95, 143.43, 123.72, 128.76, 112.50, 111.84, 113.33, 118.9, 109.73, 102.33, 163.63, 82.6, 111.32, 125.3, 116.01, 193.1, 144.1, 136.72, 130.08, 168.05, 106.54, 140.00, 166.07, 119.17, 127.42, 78.78, 136.26, 41.17, 105.44, 116.26, 138.2, 148.21, 128.52, 133.88, 138.8, 216.66, 153.01, 141.37, 145.51, 112.04, 130.76, 140.28, 110.34, 128.26, 120.28, 114.51, 113.39, 122.68, 65.95, 109.32, 16.67, 107.69, 143.82, 143.75, 216.28, 131.02, 169.23, 145.67, 72.41, 151.67, 54.29, 137.93, 66.67, 115.99, 110.0, 57.14, 144.0, 137.85, 147.17, 38.46, 90.91, 62.50, 174.48, 132.8, 81.48, 148.97, 92.31, 113.24, 66.0, 146.81, 60.0, 182.08, 153.57, 146.79, 108.33, 136.67, 125.00, 145.66, 120.99, 122.88, 150.88, 127.19, 123.85, 144.34, 132.33, 123.4, 134.56, 177.5, 262.5, 156.22, 153.92, 142.73, 152.75, 112.5, 110.26, 120.18, 126.21, 206.82, 131.27, 88.0, 126.46, 149.7, 151.79, 116.67, 111.63, 141.48, 120.11, 127.52, 147.62, 158.24, 169.1, 118.37, 163.64, 138.64, 149.05, 148.72, 159.46, 133.13, 139.05, 132.99, 88.37, 103.91, 137.35, 132.03, 172.49, 143.95, 142.86, 139.01, 113.22, 149.53, 161.54, 127.59, 128.17, 145.85, 119.35, 90.7, 160.11, 237.50, 177.08, 142.77, 74.07, 121.05, 14.29, 109.59, 131.37, 216.67, 136.76, 126.83, 144.19, 11.11, 114.29, 80.65, 77.78, 147.5, 177.27, 113.94, 152.63, 164.11, 158.22, 181.14, 139.41, 183.49, 135.96, 64.58, 133.53, 145.18, 172.95, 138.37, 141.41, 89.36, 140.96, 85.71, 153.39, 172.73, 153.68, 182.46, 84.0, 157.8, 139.18, 152.28, 140.2, 88.89, 163.16, 163.91, 150.42, 130.5, 139.71, 165.96, 117.86, 106.45, 125.89, 163.61, 156.06, 212.5, 131.96, 204.22, 130.61, 81.82, 82.35, 160.53, 185.0, 131.69, 155.91, 124.29, 159.51, 169.33, 129.52, 71.7, 156.81, 142.31, 220.55, 182.01, 143.16, 55.56, 134.41, 162.3, 138.1, 129.76, 183.82, 151.08, 147.4, 173.68, 146.86, 180.74, 42.86, 161.62, 72.73, 138.3, 153.47, 163.77, 164.65, 140.0, 123.53, 142.92, 79.31, 141.29, 137.43, 178.21, 134.78, 160.87, 114.63, 118.6, 123.29, 120.93, 63.64, 131.28, 167.48, 191.55, 158.55, 149.64, 143.48, 145.74, 126.67, 141.16, 151.47, 271.43, 190.91, 176.19, 200.0, 156.41, 167.26, 68.42, 138.89, 143.05, 201.61, 177.13, 206.67, 138.46, 135.48, 26.67, 153.7, 177.22, 116.22, 149.22, 155.4, 148.84, 171.07, 147.53, 154.7, 175.57, 115.28, 158.8, 148.67, 234.04, 136.13, 140.78, 142.78, 168.52, 123.47, 56.25
--------------------------------------------------
Unique values in column 'Centuries': 0, 0.0, 1, 4, 2, 3
--------------------------------------------------
Unique values in column 'Half_Centuries': 0, 2, 0.0, 4, 1, 3, 6, 7, 5, 8
--------------------------------------------------
Unique values in column 'Fours': 18, 1, 0, 38, 1.0, 11, 17, 21, 12, 22, 0.0, 26, 27, 2, 36, 25, 32, 28, 55, 20, 13, 6, 4, 73, 39, 29, 3, 33, 64, 35, 42, 19, 16, 34, 31, 9, 48, 23, 7, 41, 8, 53, 37, 10, 3.0, 83, 52, 14, 40, 49, 5, 54, 24, 15, 43, 61, 66, 30, 68, 45, 46, 44, 58, 51, 50, 60, 47, 65, 85, 77, 82, 62
--------------------------------------------------
Unique values in column 'Sixes': 4, 0, 15, 0.0, 19, 6, 3, 18, 1.0, 8, 9, 12, 7, 1, 14, 23, 13, 2, 16, 10, 17, 25, 22, 24, 28, 11, 5, 20, 21, 36, 2.0, 38, 26, 32, 30, 37, 31, 52, 29, 27, 34, 45, 33, 35, 42
--------------------------------------------------
Unique values in column 'Catches_Taken': 2, 0, 6, 2.0, 8, 7, 4, 1, 5, 9, 1.0, 3, 3.0, 12, 11, 13, 15, 0.0, 10, 14, 5.0, 18, 17, 4.0, 6.0
--------------------------------------------------
Unique values in column 'Stumpings': 0, 0.0, 4, 6, 5, 2, 1, 3
--------------------------------------------------
Unique values in column 'Matches_Bowled': 13, 0.0, 16, 14, 5.0, 2, 8.0, 11, 7, 13.0, 3, 12, 4, 10.0, 5, 19, 15, 1, 6, 16.0, 17, 18, 7.0, 9, 18.0, 11.0, 14.0, 3.0, 8, 9.0, 12.0, 15.0, 10, 4.0, 6.0, 1.0, 2.0
--------------------------------------------------
Unique values in column 'Balls_Bowled': 46, 0.0, 0, 259, 24, 13, 140, 6.0, 138, 258, 36, 150, 32, 62, 288, 60, 114, 108, 378, 66, 48, 102, 264, 252, 85, 210, 355, 18, 395, 234, 6, 246, 96, 342, 209.0, 384, 304, 42, 54, 8, 116, 294, 358, 12, 348, 84, 319, 187, 323, 322, 241, 238, 396, 304.0, 359, 326, 30, 330, 239.0, 244, 168, 11, 281, 256, 91, 192, 280, 300, 90, 263, 310, 219, 291, 295, 257, 151, 78, 98.0, 287, 72, 312, 100, 10.0, 180, 156, 274, 356, 354, 184.0, 277, 76, 143, 275, 228, 314, 128, 324, 63, 261, 240, 119, 248, 186, 408, 37, 57.0, 302, 229, 316, 233, 308, 178, 366, 65.0, 79, 83, 132, 105, 120, 227, 181, 255, 198, 276, 360, 17.0, 282, 387, 224, 370, 41, 10, 169, 30.0, 209, 266, 242, 306, 38, 296, 163, 301, 154, 318, 114.0, 394, 218, 334, 344, 149, 377, 126, 4, 343, 152, 51, 67, 182, 231, 336, 161, 7, 141, 162, 222, 199, 268, 338, 134, 273, 286, 9, 372, 107, 113, 298, 399, 313, 31, 321, 383, 183, 402, 320, 235, 144, 1, 317, 341, 65, 278, 303, 59, 265, 129.0, 270, 174, 305, 80, 53, 283, 204, 106, 49, 191, 153, 121, 251, 73, 176, 109, 21, 213, 165, 29, 201, 329, 216, 262, 144.0, 61, 28, 14, 147, 34, 253, 311, 87
--------------------------------------------------

In [17]:
df.columns
cols = ['Matches_Batted', 'Not_Outs', 'Runs_Scored',
       'Highest_Score', 'Batting_Average', 'Balls_Faced',
       'Batting_Strike_Rate', 'Centuries', 'Half_Centuries', 'Fours', 'Sixes',
       'Catches_Taken', 'Stumpings', 'Matches_Bowled', 'Balls_Bowled',
       'Runs_Conceded', 'Wickets_Taken',
       'Bowling_Average', 'Economy_Rate', 'Bowling_Strike_Rate',
       'Four_Wicket_Hauls', 'Five_Wicket_Hauls']
for col in cols:
  df[cols]=df[cols].astype(float)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 957 entries, 964 to 7
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 957 non-null    float64
 1   Player_Name          957 non-null    object
 2   Matches_Batted       957 non-null    float64
 3   Not_Outs             957 non-null    float64
 4   Runs_Scored          957 non-null    float64
 5   Highest_Score        957 non-null    float64
 6   Batting_Average      957 non-null    float64
 7   Balls_Faced          957 non-null    float64
 8   Batting_Strike_Rate  957 non-null    float64
 9   Centuries            957 non-null    float64
 10  Half_Centuries       957 non-null    float64
 11  Fours                957 non-null    float64
 12  Sixes                957 non-null    float64
 13  Catches_Taken        957 non-null    float64
 14  Stumpings            957 non-null    float64
 15  Matches_Bowled       957 non-null    float64
 16  Balls_Bowled         957 non-null    float64
 17  Runs_Conceded        957 non-null    float64
 18  Wickets_Taken        957 non-null    float64
 19  Best_Bowling_Match   957 non-null    object
 20  Bowling_Average      957 non-null    float64
 21  Economy_Rate         957 non-null    float64
 22  Bowling_Strike_Rate  957 non-null    float64
 23  Four_Wicket_Hauls    957 non-null    float64
 24  Five_Wicket_Hauls    957 non-null    float64
dtypes: float64(23), object(2)
memory usage: 194.4+ KB

In [19]:
df.drop(labels='Best_Bowling_Match',axis=1,inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 957 entries, 964 to 7
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 957 non-null    float64
 1   Player_Name          957 non-null    object
 2   Matches_Batted       957 non-null    float64
 3   Not_Outs             957 non-null    float64
 4   Runs_Scored          957 non-null    float64
 5   Highest_Score        957 non-null    float64
 6   Batting_Average      957 non-null    float64
 7   Balls_Faced          957 non-null    float64
 8   Batting_Strike_Rate  957 non-null    float64
 9   Centuries            957 non-null    float64
 10  Half_Centuries       957 non-null    float64
 11  Fours                957 non-null    float64
 12  Sixes                957 non-null    float64
 13  Catches_Taken        957 non-null    float64
 14  Stumpings            957 non-null    float64
 15  Matches_Bowled       957 non-null    float64
 16  Balls_Bowled         957 non-null    float64
 17  Runs_Conceded        957 non-null    float64
 18  Wickets_Taken        957 non-null    float64
 19  Bowling_Average      957 non-null    float64
 20  Economy_Rate         957 non-null    float64
 21  Bowling_Strike_Rate  957 non-null    float64
 22  Four_Wicket_Hauls    957 non-null    float64
 23  Five_Wicket_Hauls    957 non-null    float64
dtypes: float64(23), object(1)
memory usage: 186.9+ KB